.dashboard-container {
  text-align: center;
  margin-top: 50px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 200px;
  margin: 0 auto;
}

.button-group button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
